  .barraTituloSecao {
    margin-bottom: 40px;
    text-align: center;
    background-color: transparent;
  }
  
  .tituloSecao {
    font-size: 40px;
    font-weight: 700;
    color: #ffcc00;
    letter-spacing: 2px;
    background-color: transparent;
  }