  .barraTituloSecao {
    margin-bottom: 40px;
    text-align: center;
    background-color: transparent;
  }
  
  .tituloSecao {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--amarelo-secundario);
    margin-bottom: 25px;
    text-shadow: 0 0 10px rgba(255, 204, 0, 0.4);
    background-color: transparent;
  }