.prodservicos {
    text-align: center;
    margin: 7rem;
}

.tituloSecao {
    font-size: 140%;
    font-weight: 800;
}

.containerCards {
    display: flex;
    gap: 10px;
}

.cardProduto {
    background-color: purple;
    border-radius: 25px;
}

h3 {
    background-color: purple;
}

a {
    text-decoration: none;
    color: white;
    background-color: purple;
}

.imgcard {
    width: 65%;
    background-color: purple;
}