.prodservicos {
    text-align: center;
    margin: 6rem auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.tituloSecao {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.containerCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.cardProduto {
    background-color: purple;
    border-radius: 25px;
    padding: 1.5rem 1rem;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 0 15px rgba(128, 0, 128, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.cardProduto:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(128, 0, 128, 0.45);
}

.cardProduto h3 {
    margin: 0 0 1rem 0;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}

.cardProduto a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    display: inline-block;
    margin-top: 0.5rem;
}

.imgcard {
    width: 80%;
    border-radius: 15px;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .tituloSecao {
        font-size: 1.7rem;
    }

    .prodservicos {
        margin: 4rem auto;
    }
}


@media (max-width: 480px) {
    .tituloSecao {
        font-size: 1.4rem;
    }

    .cardProduto {
        max-width: 90%;
        padding: 1.2rem;
    }

    .imgcard {
        width: 90%;
    }
}
