.prodservicos {
    text-align: center;
    margin: 9rem;
}

.tituloSecao {
    font-size: 140%;
    font-weight: 800;
}

.containerCards {
    display: flex;
    gap: 20px;
}

.cardProduto {
    background-color: purple;
    border-radius: 25px;
}

h3 {
    background-color: purple;
    margin: 0;
    margin-bottom: 5%;
}

a {
    text-decoration: none;
    color: white;
    background-color: purple;
}

.imgcard {
    width: 85%;
    background-color: purple;
}