.secaoPagina {
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: #fff;
  }
  
  .secaoComputadores {
    background: linear-gradient(180deg, #0e0e0e 0%, #1c1c1c 100%);
  }

  .wrapperConteudoComputadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    width: 90%;
    border-radius: 20px;
  }
  
  .containerImagem {
    flex: 1 1 600px;
    display: flex;
    max-height: 50vh;
    justify-content: center;
  }

  .containerImagem img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(122, 5, 201, 0.2);
    transition: transform 0.3s ease;
  }
  
  .containerImagem img {
    width: 120%;
    max-width: 550px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 204, 0, 0.2);
    transition: 0.3s ease;
  }

  
  .conteudoTexto {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 20px;
    margin: 30px;
  }
  
  .itemTexto h4 {
    font-size: 20px;
    font-weight: 700;
    color: #ffcc00;
    margin-bottom: 8px;
  }
  
  .itemTexto p {
    font-size: 16px;
    color: #ccc;
    line-height: 1.6;
  }

  
  .areaBotaoComprar {
    margin-top: 50px;
    text-align: center;
  }
  
  .botaoComprar {
    position: relative;
    background: transparent;
    border: 2px solid #ffcc00;
    color: #ffcc00;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 15px 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease;
    overflow: hidden;
    z-index: 0;
  }
  
  .botaoComprar::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #ffcc00;
    z-index: -1;
    transition: left 0.4s ease;
  }
  
  .botaoComprar:hover::before {
    left: 0;
  }
  
  .botaoComprar:hover {
    color: #000;
  }
  
  .botaoComprar span,
  .botaoComprar {
    position: relative;
    z-index: 0;
  }

  
  @media (max-width: 768px) {
    .wrapperConteudoComputadores {
      flex-direction: column;
      text-align: center;
    }
  
    .containerImagem img {
      max-width: 320px;
    }
  
    .tituloSecao {
      font-size: 26px;
    }
  }
  
