.secaoPagina {
    padding: 60px 20px;
    background-color: var(--preto-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemPeriferico {
    background-color: var(--roxo-fundo);
    padding: 0px;
    border-radius: 10px;
    width: 100%;
    min-width: 280px;
    max-width: 450px;
    gap: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.itemTexto h4 {
    font-size: 25px;
    font-weight: 700;
    color: #ffcc00;
    margin-bottom: 8px;
  }
  
  .itemTexto p {
    font-size: 20px;
    color: #ccc;
    line-height: 1.6;
    display: flex;
  }

  .imgPerifericos {
    border-radius: 8px;
    height: 280px;
    object-fit: cover;
    margin-bottom: 15px;
    max-width: 400px;
    transition: 0.3s ease;
  }

  .imgPerifericos:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }