
.header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    padding: 10px 0;
    background-color: #15101f;
}

.logoDireita {
    margin: 2px;
    width: 4%;
    background: none;
}


.conteudoPrincipal {
    text-align: center;
    width: 100%;
    padding-top: 12%;
    background-image: url('../../../assets/fundo3.jpg');
    background-size: cover;
    padding-bottom: 7vh;
    margin: 0;
}

.subtituloHero {
    font-weight: 700;
    font-size: 90%;
}

.menuDesktop {
    list-style: none;
    display: flex;
    gap: 14px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* ===== BOTÃO HAMBÚRGUER ===== */
.hamburguer {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;

    position: absolute;
    left: 20px;
    top: 18px;

    z-index: 30;
}

.linha {
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}


/* ============================
        MOBILE / TABLET
   vira hambúrguer a partir de 1465px
   ============================ */
@media (max-width: 1465px) {

    /* Ajusta o header */
    .header {
        justify-content: center;
        background-color: #000; /* fundo sólido */
        padding: 0;
    }

    /* Mostra o hamburguer */
    .hamburguer {
        display: flex;
        margin: 19px;
    }

    /* Esconde o menu normal */
    .menuDesktop {
        display: none !important;
    }

    /* ===== MENU MOBILE ABERTO ===== */
    .menuMobileAberto {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        padding: 35px 0;
        gap: 20px;

        position: absolute;
        top: 0;
        left: 0;

        background-color: #000; /* FUNDO SÓLIDO */
        border-top: 2px solid #5c00ff;

        z-index: 25;
        align-items: center;
        text-align: center;
    }

    /* Logo reposicionada sem atrapalhar nada */
    .logoDireita {
        width: 55px !important;
        position: absolute;
        right: 20px;
        top: 16px;
        z-index: 26;
    }
}

@media (max-width: 1024px) {

    /* Ajusta o header */
    .header {
        justify-content: center;
        background-color: #000; /* fundo sólido */
        padding: 0;
    }

    /* Mostra o hamburguer */
    .hamburguer {
        display: flex;
        margin: 16px;
    }

    /* Esconde o menu normal */
    .menuDesktop {
        display: none !important;
    }

    /* ===== MENU MOBILE ABERTO ===== */
    .menuMobileAberto {
        display: flex !important;
        flex-direction: column;
        width: 91%;
        padding: 35px 0;
        gap: 20px;

        position: absolute;
        top: 0;
        left: 0;

        background-color: #000; /* FUNDO SÓLIDO */
        border-top: 2px solid #5c00ff;

        z-index: 25;
        align-items: center;
        text-align: center;
    }

    /* Logo reposicionada sem atrapalhar nada */
    .logoDireita {
        width: 55px !important;
        position: absolute;
        right: 20px;
        top: 16px;
        z-index: 26;
    }
}
