header {
    color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 0%;
    top: 0;
    width: 100%;
    z-index: 2;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}

.logoDireita {
    margin: 2px;
    width: 6%;
}

.conteudoPrincipal {
    text-align: center;
    width: 100%;
    padding-top: 10%;
    background-image: url('../../../assets/fundo3.jpg');
    padding-bottom: 7vh;
    margin: 0;
}


.subtituloHero {
    font-weight: 700;
    font-size: 90%;
    background: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 5px;
    margin-left: -2%;
    background-color: transparent;
}

a {
    text-decoration: none;
    background: none;
}
