header {
    color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 1%;
    top: 0;
    width: 100%;
    z-index: 2;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}

.logoDireita {
    margin: 2px;
    width: 6%;
}

.conteudoPrincipal {
    text-align: center;
    width: 100%;
    padding-top: 10%;
}

.tituloHero {
    font-weight: 800;
    font-size: 160%;
}

.subtituloHero {
    font-weight: 400;
    font-size: 90%;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: -2%;
}

li {
    font-size: 80%;
    font-weight: 600;
    cursor:pointer;
    transition: 0.3s ease;
}

li:hover {
    color: yellow;
    transition: 0.3s ease;
}