.header {
    margin: 0 auto;
    color: white;
}

.logoDireita {
    margin: 2px;
    width: 7%;
}

.conteudoPrincipal {
    text-align: center;
}

.tituloHero {
    font-weight: 800;
    font-size: 160%;
}

.subtituloHero {
    font-weight: 400;
    font-size: 90%;
}

