* {
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    font-size: 110%;
    background-color:rgb(20, 17, 24);
    color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: yellow;
}